@page
@model TenderingApp.Areas.SubCategories.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory[0].SubCategoryName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SubCategory[0].AboutSubCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategory[0].Icon)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.SubCategory[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SubCategory) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.AboutSubCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SubCategoryId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SubCategoryId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SubCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
