@page
@model TenderingApp.Areas.Organizations.Pages.DeleteModel

@{
    ViewData["Title"] = "Delete Organization";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<img src="@Model.Organization.Logo"  />
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.OrganizationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.OrganizationName)
        </dd>
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.ContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.ContactNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.ContactPerson)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.ContactPerson)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.WebUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.WebUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Vdc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Vdc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.WardNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.WardNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.ToleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.ToleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Landmark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Landmark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Logo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Logo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.MapUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.MapUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.AboutOrg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.AboutOrg)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Organization.SubCategory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Organization.SubCategory.SubCategoryName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Organization.OrganizationName" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
